body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0%;
  overflow: hidden;
}

#canvasFG,
#canvasBG {
  position: absolute;
  left: 0%;
  top: 0%;
}

#canvas-container {
  position: absolute;
  left: 50px;
  top: 0%;
  width: calc(100% - 50px);
  height: 100%;
}

#button-container {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 50px;
  height: 100%;
  background-color: rgb(200, 200, 200);
}

.button {
  border: outset;
  height: 44px;
  width: 44px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.button:hover {
  background-color: rgb(220, 220, 220);
}

#draw {
  background-image: url("images/draw-icon.png");
}

#eraser {
  background-image: url("images/erase.png");
}

#color {
  background-image: url("images/color.png");
}

#trash {
  background-image: url("images/trash.png");
}

#background {
  background-image: url("images/background.png");
}

#shapes {
  background-image: url("images/shapes.png");
}

#fill {
  background-image: url("images/fill.png");
}

#bg-color-selector {
  position: absolute;
  left: 50px;
  top: 100px;
  display: none;
}

#pen-color-selector {
  position: absolute;
  left: 50px;
  top: 100px;
  display: none;
}

#pen-thickness {
  position: absolute;
  top: 0;
  left: 50px;
  display: none;
}
